.background {
  background-color: #f8f8f8;
}

.background-white {
  background-color: white;
}

#profile-header {
  margin-top: -20px;
}

#profile-img {
  height: 150px;
  width: 150px;
}

.hoffset1 {
  margin-left: 10px;
}

.hoffset2 {
  margin-left: 25px;
}

.hoffset3 {
  margin-left: 50px;
}

.hoffset4 {
  margin-left: 75px;
}

.vspacenone {
  margin-top: 0px;
  margin-bottom: 0px;
}

.vspace0 {
  margin-top: 5px;
}

.vspace1 {
  margin-top: 10px;
}

.vspace2 {
  margin-top: 25px;
}

.vspace3 {
    margin-top: 50px;
}

.vspace4 {
  margin-top: 100px;
}

.tweet {
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.tweet-icon {
  height: 75px;
  width: 75px;
}

.smaller-icon {
  height:45px;
  width: 45px;
}

.conceal {
  visibility: hidden;
}

.following {
  margin-bottom: 20px;
  cursor: pointer;
}
